
<div class="red">

<div class="example-container">
   <h1>Login</h1>
   <form [formGroup]="form" (ngSubmit)="submit()">
    <p>
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput  formControlName="email" >
            <mat-error *ngIf="f.email.touched && f.email.invalid" class="text text-danger">
                <mat-error *ngIf="f.email.hasError('required')">Email is required.</mat-error>

            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button> 
            <mat-error *ngIf="f.password.touched && f.password.invalid" class="text text-danger">
                <mat-error *ngIf="f.password.hasError('required')">Password is required</mat-error>

            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary">Login</button>
    </p>
   </form>
    
</div>
</div>
