/* .example-container::ng-deep {
   text-align: center;
margin-top: 300px;
border: 1px solid black;
width: 300px;
margin-left: 500px;
padding-top: 20px;


 
 
  } */

.red{
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
}
  .example-container {
   max-width: 400px;
   margin: auto;
   margin-top: 200px;
   justify-content: center;
   align-items: center;
   overflow-y: hidden;
   
   

   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 0 10px ;
 }
 
 h1 {
   text-align: center;
 }
 
 mat-form-field {
   width: 100%;
   margin-bottom: 20px;
   
 }
 
 button {
   width: 100%;

 }

 /* div{
  margin-top: 200px;
 } */


  