<mat-drawer-container class="example-container">
    <mat-drawer [mode]="sideBarOpen ? 'side' : 'over'" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <app-header (toggleSidebarForMe)="sidebartoggle() " class="back" ></app-header>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>