:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 260px;
    background-color: lightseagreen;
}


mat-drawer-container{
    height: 100%;
}
/* .header{
    background-color: lightseagreen;
} */


back{
    background-color: aquamarine;
}

