<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div class="head">
            <h1 style="font-size: larger;font-weight: bolder;">Student Mangaement System</h1>

        </div>
    </mat-toolbar-row>
</mat-toolbar>