
<mat-nav-list>
    <div class="logo px-2 pb-1">
       <img src="/assets/images/Untitled-1.jpg" alt=""  class="image">
    </div>
    <mat-divider class="divide"></mat-divider>

    <a mat-list-item [routerLink]="'./dashboard'" [routerLinkActive]="['list-item-active']">
    <mat-icon>dashboard</mat-icon> Dashboard</a>
    <a mat-list-item [routerLink]="'./student'" [routerLinkActive]="['list-item-active']">
        <mat-icon>account_circle</mat-icon>Student List</a>
    <a mat-list-item [routerLink]="'./courses'" [routerLinkActive]="['list-item-active']">
   <mat-icon>chrome_reader_mode</mat-icon> Courses</a>
    <a mat-list-item [routerLink]="'./batch'" [routerLinkActive]="['list-item-active']">
    <mat-icon>list_alt</mat-icon> Batches</a>


</mat-nav-list>