.logo {
    text-align: center;
    font-weight: bolder;
    color: whitesmoke;
   
}

mat-divider {
    width: 100%;
    border: 1px solid whitesmoke;
    margin-bottom: 20px;
}



a.list-item-active {
    background-color: whitesmoke;
    color: black !important;
    font-weight: bolder;
}

:host .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
}
.image{
    height:160px;
    width:160px;
}















