<mat-toolbar>

    <h1 style="font-weight: bold;font-size:25px;color: whitesmoke;">Batches</h1>
    <span class="example-spacer"></span>

    <button mat-raised-button  (click)="openBatch()">Add Batch</button>
</mat-toolbar>
<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef>SI </th>
      <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="batch">
      <th mat-header-cell *matHeaderCellDef> Batch </th>
      <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> CreatedAt</th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>UpdatedAt</th>
      <td mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="updateBatch(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteBatch(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>

