.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    height: 108px;
    background-color: lightseagreen;
  }
  .container{
    
    margin-top: 10px;
    
  }
  table {
    width: 100%;
  }
  
 