<div class="main">
    <div mat-dialog-title style="text-align: center;">
        <h1>Batch List</h1>
    </div>
    <form [formGroup]="batchForm" (ngSubmit)="onBatchSubmit()">
        <div mat-dialog-content class="content">


            <mat-form-field appearance="outline">
                <mat-label>Batch</mat-label>
                <input matInput type="text" formControlName="batch" required>

            </mat-form-field>
        </div>
        <div mat-dialog-action class="action ">
            <button mat-raised-button color="warn" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary">{{data ? 'Update': 'Save'}}</button>
        </div>
    </form>
</div>