<mat-toolbar>

    <h1 style="font-weight: bold;font-size:25px;color: whitesmoke;">Dashboard</h1>
    <span class="example-spacer"></span>

    <button mat-raised-button (click)="logout()">LogOut</button>
</mat-toolbar>