<mat-toolbar>

    <h1 style="font-weight: bold;font-size:25px;color: whitesmoke;">Student List</h1>
    <span class="example-spacer"></span>

    <button mat-raised-button (click)="openmodal()">Add student</button>
</mat-toolbar>


<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef> SI </th>
            <td mat-cell *matCellDef="let element;index as i"> {{i+1}} </td>
        </ng-container>

        <!--FullName-->
        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> FullName </th>
            <td mat-cell *matCellDef="let element"> {{getFullName(element)}} </td>

        </ng-container>

       
        <!-- <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        
        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container> -->

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- phoneNumber Column -->
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
        </ng-container>
        <!-- dob Column -->
        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> DOB </th>
            <td mat-cell *matCellDef="let element"> {{element.dob | date}} </td>
        </ng-container>
        <!-- address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <!-- BAtch Column -->
        <ng-container matColumnDef="batch">
            <th mat-header-cell *matHeaderCellDef> Batch </th>
            <td mat-cell *matCellDef="let element"> {{element.batch.batch}} </td>
        </ng-container>
        <!-- Course Column -->
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef> Course </th>
            <td mat-cell *matCellDef="let element"> {{element.course.course}} </td>
        </ng-container>
        <!-- updatedAt Column -->

        <!-- <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> CreatedAt </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container> -->

        <!-- updatedAt Column -->

        <!-- <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> UpdatedAt </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt}} </td>
        </ng-container> -->

        <!-- Action Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="updateStudent(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="deleteStudent(element._id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

       

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

   
</div>